# NyCity Schools Crimes Versus School Performance Analysis

* As a whole, schools were put under a category of NTA . School safety nos were exracted from NYC Open data for Grad Year 2013-2014
* School Performance was consiered to a have a direct corelation with school crime . Is there a corelation ? 

* The below scripts are for Data Cleanup

### Note
* Author  :  Ratna Kapoor
This module is to clean the NYC School Safety data , the School Performance and the Census data

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load 
ss_data_1416 = "2010-2016_School_Safety_Report.csv"
sp_data_1416 = "Combined_HS_Performance_Data.csv"

In [3]:
# Read School Safety Data File and store into Pandas Data Frames
ss_data_1416 = pd.read_csv(ss_data_1416)
ss_data_1416.head(5)

,School Year,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,Borough Name,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,2013-14,K001,15K001,P.S. 001 The Bergen,K001,309 47 STREET,K,15.0,"1,277",NaN,...,BROOKLYN,11220.0,40.649042,-74.012289,7.0,38.0,80,"3,011,821","3,007,550,022",Sunset Park West ...
1,2013-14,K002,17K002,Parkside Preparatory Academy,K002,655 PARKSIDE AVENUE,K,17.0,479,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...
2,2013-14,K002,75K141,P.S. K141,K141,655 PARKSIDE AVENUE,K,17.0,397,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...
3,2013-14,K002,84K704,Explore Charter School,K704,655 PARKSIDE AVENUE,K,17.0,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...
4,2013-14,K002,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,NaN,655 PARKSIDE AVENUE,K,17.0,876,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...

In [4]:
ss_data_clean_1416 = ss_data_1416.loc[:,["School Year","Building Code","DBN","Location Code","Location Name","Major N","Oth N","NoCrim N","Prop N","Vio N","NTA"]]
ss_data_clean_1416 = ss_data_clean_1416[(ss_data_clean_1416["School Year"] == '2013-14')]
                                        
ss_data_clean_1416.fillna(0, inplace=True)
ss_data_clean_1416.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major N,Oth N,NoCrim N,Prop N,Vio N,NTA
0,2013-14,K001,15K001,K001,P.S. 001 The Bergen,0.0,2.0,1.0,1.0,0.0,Sunset Park West ...
1,2013-14,K002,17K002,K002,Parkside Preparatory Academy,0.0,0.0,0.0,0.0,0.0,Prospect Lefferts Gardens-Wingate ...
2,2013-14,K002,75K141,K141,P.S. K141,0.0,0.0,0.0,0.0,0.0,Prospect Lefferts Gardens-Wingate ...
3,2013-14,K002,84K704,K704,Explore Charter School,0.0,0.0,0.0,0.0,0.0,Prospect Lefferts Gardens-Wingate ...
4,2013-14,K002,0,0,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,1.0,5.0,2.0,2.0,4.0,Prospect Lefferts Gardens-Wingate ...

In [5]:
#Remove zero crime records
ss_data_clean_1416 = ss_data_clean_1416[(ss_data_clean_1416["Major N"] + ss_data_clean_1416["Oth N"] + ss_data_clean_1416["NoCrim N"] + ss_data_clean_1416["Prop N"] + ss_data_clean_1416["Vio N"]) > 0.0 ]
ss_data_clean_1416.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major N,Oth N,NoCrim N,Prop N,Vio N,NTA
0,2013-14,K001,15K001,K001,P.S. 001 The Bergen,0.0,2.0,1.0,1.0,0.0,Sunset Park West ...
4,2013-14,K002,0,0,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,1.0,5.0,2.0,2.0,4.0,Prospect Lefferts Gardens-Wingate ...
5,2013-14,K003,13K003,K003,P.S. 003 The Bedford Village,2.0,0.0,0.0,2.0,0.0,Clinton Hill ...
6,2013-14,K005,16K005,K005,P.S. 005 Dr. Ronald Mcnair,1.0,1.0,0.0,2.0,0.0,Stuyvesant Heights ...
7,2013-14,K006,17K006,K006,P.S. 006,0.0,1.0,2.0,0.0,0.0,Erasmus ...

In [6]:
ss_renamed_df = ss_data_clean_1416.rename(columns={"Major N": "Major Crime",
                                                       "Oth N": "Other Crime", 
                                                       "NoCrim N": "Non Criminal",
                                                       "Prop N": "Property Crime",
                                                       "Vio N": "Violent Crime"
                                                      })

ss_renamed_df["NTA"] = ss_renamed_df["NTA"].str.strip()

ss_renamed_df.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major Crime,Other Crime,Non Criminal,Property Crime,Violent Crime,NTA
0,2013-14,K001,15K001,K001,P.S. 001 The Bergen,0.0,2.0,1.0,1.0,0.0,Sunset Park West
4,2013-14,K002,0,0,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,1.0,5.0,2.0,2.0,4.0,Prospect Lefferts Gardens-Wingate
5,2013-14,K003,13K003,K003,P.S. 003 The Bedford Village,2.0,0.0,0.0,2.0,0.0,Clinton Hill
6,2013-14,K005,16K005,K005,P.S. 005 Dr. Ronald Mcnair,1.0,1.0,0.0,2.0,0.0,Stuyvesant Heights
7,2013-14,K006,17K006,K006,P.S. 006,0.0,1.0,2.0,0.0,0.0,Erasmus

In [7]:
#School Safety Data that is clean and sorted by NTA
SS_df = ss_renamed_df.sort_values(["School Year", "NTA", "DBN"], ascending=True)
SS_df.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major Crime,Other Crime,Non Criminal,Property Crime,Violent Crime,NTA
1873,2013-14,X144,0,0,2545 GUNTHER AVENUE CONSOLIDATED LOCATION,2.0,8.0,26.0,3.0,4.0,Allerton-Pelham Gardens
1741,2013-14,X076,11X076,X076,P.S. 076 The Bennington School,1.0,2.0,3.0,2.0,1.0,Allerton-Pelham Gardens
1777,2013-14,X097,11X097,X097,P.S. 097 Bronx,0.0,0.0,1.0,0.0,0.0,Allerton-Pelham Gardens
1825,2013-14,X121,11X121,X121,P.S. 121 Throop,1.0,0.0,2.0,1.0,0.0,Allerton-Pelham Gardens
1613,2013-14,R455,0,0,100 LUTEN AVENUE CONSOLIDATED LOCATION,1.0,12.0,13.0,7.0,6.0,Annadale-Huguenot-Prince's Bay-Eltingville

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
ss_renamed_df.to_csv("SchoolSafety_1314.csv", index=False, header=True)

In [ ]:
### Note
* This module is to clean the School Performance

In [9]:
# Read School Performance Data File and store into Pandas Data Frames
sp_data_1416 = pd.read_csv(sp_data_1416)
sp_data_1416.head(5)

,DBN,graduation_rate_2011,college_career_rate_2011,graduation_rate_2012,college_career_rate_2012,graduation_rate_2013,college_career_rate_2013,graduation_rate_2014,college_career_rate_2014,Community Board,Council District,Census Tract,NTA,Precinct
0,01M292,56.30%,51.90%,50.70%,40.00%,58%,32%,43%,41%,3.0,1.0,201,Lower East Side,7
1,01M448,70.70%,36.30%,74.40%,67.30%,78%,55%,80%,52%,3.0,1.0,202,Lower East Side,7
2,01M450,71.60%,69.20%,72.70%,55.70%,76%,58%,82%,69%,3.0,2.0,34,East Village,9
3,01M509,56.40%,47.70%,59.50%,47.90%,36%,38%,48%,26%,3.0,1.0,"3,001",Chinatown,7
4,01M539,95.30%,87.00%,97.50%,82.80%,98%,84%,95%,89%,3.0,2.0,"2,201",Lower East Side,7

In [10]:
#Remove % from the Grad rate and Coll Rate and convert to float 
for index in range(292):
     sp_data_1416.at[index, "graduation_rate_2014"] = float(sp_data_1416["graduation_rate_2014"][index].replace("%", ""))
     sp_data_1416.at[index, "college_career_rate_2014"] = float(sp_data_1416["college_career_rate_2014"][index].replace("%", ""))

In [24]:
sp_data_1416

,DBN,graduation_rate_2011,college_career_rate_2011,graduation_rate_2012,college_career_rate_2012,graduation_rate_2013,college_career_rate_2013,graduation_rate_2014,college_career_rate_2014,Community Board,Council District,Census Tract,NTA,Precinct
0,01M292,56.30%,51.90%,50.70%,40.00%,58%,32%,43,41,3.0,1.0,201,Lower East Side,7
1,01M448,70.70%,36.30%,74.40%,67.30%,78%,55%,80,52,3.0,1.0,202,Lower East Side,7
2,01M450,71.60%,69.20%,72.70%,55.70%,76%,58%,82,69,3.0,2.0,34,East Village,9
3,01M509,56.40%,47.70%,59.50%,47.90%,36%,38%,48,26,3.0,1.0,"3,001",Chinatown,7
4,01M539,95.30%,87.00%,97.50%,82.80%,98%,84%,95,89,3.0,2.0,"2,201",Lower East Side,7
5,01M696,97.60%,95.70%,96.60%,96.80%,98%,94%,100,93,3.0,2.0,"1,002",Lower East Side,7
6,02M047,69.60%,47.10%,54.80%,30.40%,71%,42%,69,62,6.0,2.0,64,Gramercy,13
7,02M288,82.00%,62.70%,77.30%,59.60%,84%,53%,77,49,4.0,3.0,135,Clinton,18
8,02M294,67.50%,48.30%,77.40%,61.30%,65%,49%,71,40,3.0,1.0,18,Chinatown,7
9,02M296,79.30%,56.00%,78.40%,42.70%,66%,52%,73,47,4.0,3.0,135,Clinton,18
10,02M298,91.50%,79.60%,86.90%,78.70%,89%,69%,94,68,3.0,1.0,16,Chinatown,5
11,02M300,66.30%,47.50%,61.00%,46.50%,55%,55%,65,43,4.0,3.0,135,Clinton,18
12,02M303,55.30%,50.00%,65.20%,43.40%,62%,52%,72,49,4.0,3.0,135,Clinton,18
13,02M305,67.80%,54.80%,78.30%,64.40%,83%,60%,87,69,3.0,1.0,18,Chinatown,7
14,02M308,76.20%,47.80%,68.30%,58.70%,75%,52%,72,61,3.0,1.0,18,Chinatown,7
15,02M316,80.30%,64.00%,70.50%,63.90%,75%,48%,77,62,1.0,1.0,9,Battery Park City-Lower Manhattan,1
16,02M374,77.80%,40.40%,74.20%,47.90%,77%,50%,74,54,6.0,2.0,50,Gramercy,13
17,02M400,83.20%,75.60%,82.10%,81.20%,83%,64%,84,70,4.0,3.0,139,Clinton,18
18,02M407,83.30%,70.90%,86.40%,57.40%,94%,58%,90,84,6.0,2.0,48,Gramercy,13
19,02M408,93.10%,60.80%,93.30%,68.30%,96%,66%,94,66,4.0,3.0,127,Clinton,18
20,02M411,100.00%,98.10%,100.00%,90.60%,99%,96%,100,97,5.0,2.0,56,Hudson Yards-Chelsea-Flatiron-Union Square,13
21,02M412,96.40%,77.40%,93.10%,88.30%,95%,73%,96,79,4.0,3.0,83,Hudson Yards-Chelsea-Flatiron-Union Square,10
22,02M413,84.30%,65.60%,83.10%,63.20%,85%,77%,91,78,5.0,2.0,68,Gramercy,13
23,02M414,98.00%,71.70%,100.00%,85.70%,98%,91%,97,81,4.0,3.0,83,Hudson Yards-Chelsea-Flatiron-Union Square,10
24,02M416,100.00%,96.90%,97.80%,97.40%,100%,97%,100,89,8.0,5.0,132,Lenox Hill-Roosevelt Island,19
25,02M418,97.30%,88.00%,100.00%,84.20%,99%,86%,99,88,1.0,1.0,9,Battery Park City-Lower Manhattan,1
26,02M419,53.10%,55.90%,50.90%,43.20%,50%,41%,66,35,4.0,3.0,89,Hudson Yards-Chelsea-Flatiron-Union Square,10
27,02M420,82.40%,69.50%,88.20%,72.00%,86%,77%,90,76,6.0,2.0,48,Gramercy,13
28,02M425,79.10%,38.50%,59.20%,48.60%,68%,43%,64,41,1.0,1.0,13,Battery Park City-Lower Manhattan,1
29,02M439,97.80%,82.00%,98.00%,76.70%,97%,83%,99,85,5.0,3.0,58,Hudson Yards-Chelsea-Flatiron-Union Square,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,30Q445,56.50%,43.40%,63.00%,43.20%,66%,44%,69,46,1.0,26.0,163,Astoria,114
263,30Q450,65.70%,42.90%,56.10%,42.90%,59%,40%,63,43,1.0,22.0,45,Astoria,114
264,30Q501,93.40%,83.60%,96.60%,87.60%,94%,85%,98,80,1.0,26.0,57,Astoria,114
265,30Q502,72.60%,48.90%,74.10%,52.00%,67%,57%,68,49,2.0,26.0,19,Hunters Point-Sunnyside-West Maspeth,108
266,30Q555,72.60%,43.50%,66.70%,44.40%,70%,45%,62,51,1.0,26.0,33,Queensbridge-Ravenswood-Long Island City,114
267,30Q575,89.00%,81.30%,88.10%,85.20%,92%,87%,89,91,1.0,26.0,33,Queensbridge-Ravenswood-Long Island City,113
268,30Q580,100.00%,90.30%,96.60%,92.20%,98%,92%,98,98,1.0,26.0,55,Queensbridge-Ravenswood-Long Island City,114
269,31R047,94.10%,90.10%,96.60%,82.40%,97%,95%,90,88,2.0,51.0,"27,702",Todt Hill-Emerson Hill-Heartland Village-Light...,121
270,31R080,86.60%,81.70%,90.00%,67.70%,92%,79%,91,79,2.0,50.0,177,Todt Hill-Emerson Hill-Heartland Village-Light...,122
271,31R440,75.60%,47.30%,76.10%,52.80%,73%,51%,78,54,2.0,50.0,"11,202",New Dorp-Midland Beach,122
272,31R445,63.90%,41.40%,62.50%,47.50%,61%,42%,67,43,1.0,49.0,213,Port Richmond,121
273,31R450,69.80%,45.60%,73.80%,47.70%,79%,51%,80,56,1.0,49.0,7,West New Brighton-New Brighton-St. George,120
274,31R455,83.50%,63.90%,84.50%,65.20%,83%,66%,85,66,3.0,51.0,198,Annadale-Huguenot-Prince's Bay-Eltingville,123
275,31R460,81.20%,64.70%,78.30%,74.00%,81%,69%,84,70,2.0,50.0,181,Todt Hill-Emerson Hill-Heartland Village-Light...,122
276,31R600,63.00%,36.60%,66.80%,46.10%,60%,44%,75,42,1.0,49.0,9,West New Brighton-New Brighton-St. George,120
277,32K403,72.80%,38.20%,64.80%,34.00%,75%,37%,62,36,4.0,37.0,435,Bushwick North,83
278,32K545,60.10%,44.80%,66.50%,47.00%,70%,42%,59,53,4.0,34.0,393,Bushwick South,83
279,32K549,68.30%,55.00%,63.50%,32.70%,55%,34%,69,31,4.0,37.0,435,Bushwick North,83
280,32K552,63.40%,25.20%,51.30%,30.90%,51%,28%,48,31,4.0,37.0,435,Bushwick North,83
281,32K554,100.00%,58.10%,97.40%,77.10%,97%,84%,94,74,4.0,37.0,433,Bushwick North,83
282,32K556,48.90%,31.40%,43.20%,25.20%,70%,23%,68,38,4.0,34.0,393,Bushwick South,83
283,03M485,98.20%,86.10%,99.50%,93.30%,98%,86%,99,80,7.0,6.0,151,Lincoln Square,20
284,31R605,100.00%,99.00%,100.00%,90.00%,100%,100%,100,99,2.0,50.0,134,New Dorp-Midland Beach,122
285,02M475,98.50%,85.40%,99.40%,98.70%,98%,99%,99,97,1.0,1.0,"31,703",Battery Park City-Lower Manhattan,1
286,05M692,98.20%,93.40%,99.00%,60.40%,99%,98%,99,95,9.0,9.0,"21,703",Manhattanville,26
287,10X696,100.00%,93.60%,100.00%,98.80%,100%,99%,100,99,8.0,11.0,409,Van Cortlandt Village,50
288,13K430,97.70%,86.70%,96.00%,94.80%,98%,83%,98,91,2.0,35.0,33,Fort Greene,88
289,10X445,100.00%,99.40%,99.90%,99.90%,100%,100%,100,96,7.0,11.0,409,Van Cortlandt Village,52
290,14K449,91.40%,96.10%,98.60%,85.70%,100%,87%,99,97,1.0,34.0,505,East Williamsburg,90
291,28Q687,100.00%,97.20%,98.30%,100.00%,99%,84%,100,89,12.0,27.0,246,Jamaica,103

In [11]:
sp_data_1416["graduation_rate_2014"] = pd.to_numeric(sp_data_1416["graduation_rate_2014"])
sp_data_1416["college_career_rate_2014"] = pd.to_numeric(sp_data_1416["college_career_rate_2014"])

In [26]:
type(sp_data_1416["graduation_rate_2014"][1])

float

In [13]:
sp_data_clean_14 = sp_data_1416.loc[:,["DBN","graduation_rate_2014","college_career_rate_2014","NTA"]]
sp_data_clean_14['School Year'] = '2013-14'
sp_data_clean_14_df = sp_data_clean_14.rename(columns={"graduation_rate_2014": "Grad_rate",
                                                         "college_career_rate_2014": "Coll_rate"                                                       
                                                      })

DBN             object
Grad_rate      float64
Coll_rate      float64
NTA             object
School Year     object
dtype: object

In [16]:
#Sort teh data and save output
SP_df = sp_data_clean_14_df.sort_values(["School Year", "NTA", "DBN"], ascending=True)

SP_df.head()

,DBN,Grad_rate,Coll_rate,NTA,School Year
274,31R455,85.0,66.0,Annadale-Huguenot-Prince's Bay-Eltingville,2013-14
262,30Q445,69.0,46.0,Astoria,2013-14
263,30Q450,63.0,43.0,Astoria,2013-14
264,30Q501,98.0,80.0,Astoria,2013-14
231,25Q285,95.0,80.0,Auburndale,2013-14

In [17]:
# Export file as a CSV, without the Pandas index, but with the header

SP_df.to_csv("SchoolPerfomance_1314.csv", index=False, header=True)